<div class="container text-center mt-4">
  <h1>Agregar tratamiento</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="card editar col-12 m-5 p-3 rounded-4">
      <%= render "form", pet: @pet, treatment: @treatment %>    </div>
  </div>
</div>
