// Specific CSS for your home-page
#carousel-back{
   background: rgb(227,205,156);
background: linear-gradient(90deg, rgba(227,205,156,1) 0%, rgba(212,143,80,0.6951374299719888) 82%, rgba(135,112,44,1) 100%);
}

#welcome-back{
  background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-hand-painted-brush-strokes-background-decoration-picture-image_379566.jpg);
}
