<div class="container-fluid">
    <div class="row">
      <div class="bienvenidos col-10">
        <h1>Bienvenido Mati</h1>
        <h3>seleccione su mascota:</h3>
      </div>
      <div class="petzone col-2">
        <h1>Petzone</h1>
      </div>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="recordatorios rounded-4"></div>
  </div>
    <div class="row">
      <div class="avatares col-1 rounded-4 p-2 ">
          <div class="perfil">
            <img src="https://bit.ly/3VG02xC" alt="">
          </div>
          <div class="perfil">
            <img src="https://bit.ly/3VG02xC" alt="">
          </div>
          <div class="perfil">
            <img src="https://bit.ly/3VG02xC" alt="">
          </div>
      </div>
    </div>
</div>
