<div class="container-fluid">
  <div class="row">
    <div class="infoimagen col-6">
    </div>
    <div class="info col-6 card rounded-4 p-3">
      <%= render "form", pet: @pet %>
    </div>
  </div>
</div>
