
<p><%= @pet.treatments.first %></p>

<div class="container">
  <div class="row">
    <div class="body rounded-4"></div>
  </div>
  <div class="row">
    <div class="barra rounded-4 p-2">
      <div class="avatar">
        <img src="https://bit.ly/3VG02xC" alt="">
      </div>
    </div>
  </div>
</div>
