
<div class= "container-fluid footer size ms-auto ">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-start">
          <h1>Petzone</h1>
          <h3>Sobre Petzone:</h3>
          <p>El fin de Petzone es organizar una buena calidad de vida para tu perro atravez de calendarios para vacunas, desparacitaciones y examenes</p>
      </div>
      <div class="row justify-content-end">
        <p>Copyright © 2022</p>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="footer-links col-12 justify-content-center">
          <a href="#"><i class="fab fa-github mx-3"></i></a>
          <a href="#"><i class="fab fa-instagram mx-3"></i></a>
          <a href="#"><i class="fab fa-facebook mx-3"></i></a>
          <a href="#"><i class="fab fa-twitter mx-3"></i></a>
          <a href="#"><i class="fab fa-linkedin mx-3"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
