
<div class= "container-fluid footer size mt-auto ">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="sobre col-12 mt-5">
            <h3>Sobre Petzone:</h3>
          </div>
          <div class="sobre col-12 my-3">
            <p>El fin de Petzone es organizar una buena calidad de vida para tu perro atravez de calendarios para vacunas, desparacitaciones y examenes.</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="redes col-12 justify-content-center">
            <h2>Nuestras redes</h2>
          </div>
          <div class="footer-links col-12 justify-content-center">
            <a href="#"><i class="fab fa-github mx-3"></i></a>
            <a href="#"><i class="fab fa-instagram mx-3"></i></a>
            <a href="#"><i class="fab fa-facebook mx-3"></i></a>
            <a href="#"><i class="fab fa-twitter mx-3"></i></a>
            <a href="#"><i class="fab fa-linkedin mx-3"></i></a>
          </div>
          <div class="col-12 justify-content-center">
            <p>Copyright © 2022</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
