 <!-- Site footer
 <footer class="site-footer">
  <div class= "background">
    <div class= "container">
    <div class= "row col-12">
        <div class= "col-3">
          <h1 class= "w-25">Petzone</h1>
        </div>
        <div class= "col-3">
        </div>
        <div class= "col-3">
          <h1>hola</h1>
        </div>
        <div class= "col-3">
          <h1 class= "w-25">hola</h1>
        </div>
      </div>
      <div class= "container d-flex flex-row">
        <div class= "col-3 w-25">
          <h1>Petzone</h1>
        </div>
        <div class= "col-3 w-25">
        </div>
        <div class= "col-3 w-25">
        </div>
        <div class= "col-3 w-25">
        </div>
        <div class= "col-3 w-25">
        </div>
        <div class= "col-3 w-25">
          <h1>hol</h1>
        </div>
      </div>
      <div class= "container d-flex flex-row">
        <div class= "col-3 w-25">
          <h1>Petzone</h1>
        </div>
        <div class= "col-3 w-25">
        </div>
        <div class= "col-3 w-25">
        </div>
        <div class= "col-3 w-25">
        </div>
        <div class= "col-3 w-25">
        </div>
        <div class= "col-3 w-25">
          <h1>hol</h1>
        </div>
      </div>
    </div>
  </div>
</footer>-->

<div class= "container-fluid footer size">
  <div class="row">
    <div class="col-3">
      <div class="row justify-content-start">
        <div class="col-8">
          <h1>Petzone</h1>
        </div>
        <div class="col-8">
          <h3>hola</h3>
        </div>
         <div class="col-8">
          <h3>hola</h3>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-4">
          <h1>Petxone</h1>
        </div>
        <div class="col-4">
          <p>facebook</p>
        </div>
        <div class="col-4">
          <h1>instagram</h1>
        </div>
      </div>
    </div>
  </div>
</div>
