<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!--iconos pets-->
    <div class="nav-icons">
    <% if user_signed_in? %>
      <% current_user.pets do |pet|%>
        <%= cl_image_tag pet.photo.key

        %>
      <% end %>
    <% end %>
     <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
    </div>
  </div>
</nav>
<!--New Navbar-->
<nav class="navbar2">
	<div class="container-fluid">
		<!-- Nav Header -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><span class="fa fa-home"></span><span class="link"> Home</span></a>
      <a class="navbar-brand" href="#"><span class="fa fa-calendar"></span><span class="link"> Calendario</span></a>
			<a class="navbar-brand" href="#"><span class="fa fa-folder"></span><span class="link"> Documentación</span></a>
    </div>
	</div>
</nav>
