<div class="container">
  <div class="row justify-content-center">
    <div class="card col-12 m-5 p-3 rounded-4">
        <%= render "form", pet: @pet, vaccine: @vaccine %>
    </div>
  </div>
</div>
