<%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <% if meeting.pet.user == current_user %>
      <div class="meeting">
        <p><%= meeting.pet.name %>: <%= meeting.name %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
