.humano{
  text-align: left;
  background-image: url(mulher-jovem-mentindo-parque-com-dela-cao_23-2147877741.webp);
}

.humanos{
  background-color: #BAD36D;
}

.botont{
  text-decoration: none;
  background: #BAD36D;
}
