.humano{
  text-align: left;
  background-image: url(mulher-jovem-mentindo-parque-com-dela-cao_23-2147877741.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.humanos{
  background-color: #f7ebbe;
}

.botont{
  text-decoration: none;
  background: #c9aa9c;
}
