
.recordatorios{
  position: absolute;
  width: 1000px;
  height: 250px;
  left: 175px;
  top: 300px;
  background: #BAD36D;
}

.avatares {
  position: absolute;
  width: 1000px;
  height: 50px;
  left: 175px;
  top: 225px;
  background: #BAD36D;
}

.bienvenidos h1 {
  font-family: 'Mochiy Pop P One';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 55px;

  color: #000000;
}

.petzone {
}

.perfil img {
  width: 200px;
  border-radius: 25%;
}
