
.recordatorios{
  background: #BAD36D;
}

.avatares {
  background: #BAD36D;
}

.bienvenidos h1 {
  font-family: 'Mochiy Pop P One';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 55px;

  color: #000000;
}


.perfil img {
  width: 200px;
  border-radius: 25%;
}
