.body{
  position: absolute;
  width: 1000px;
  height: 450px;
  left: 175px;
  top: 100px;
  background: #FADACB;
}

.barra{
  position: absolute;
  width: 1000px;
  height: 75px;
  left: 175px;
  top: 100px;
  background: #FAAF6B;
}

.avatar img {
  width: 100px;
  border-radius: 50%;
}


.nav-pills {

}
.nav-link {
  color:rgb(32, 29, 29)
}

.petsbutton {
  color:rgb(32, 29, 29)
}

.nav-link .active{
  color: red;
}

.nav-pills {
  --#{$prefix}nav-pills-border-radius: #{$nav-pills-border-radius};
  --#{bs}nav-pills-link-active-color: #{color(red)};
  --#{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg};

}
