.body{
  position: absolute;
  width: 1000px;
  height: 450px;
  left: 175px;
  top: 100px;
  background: #FADACB;
}

.barra{
  position: absolute;
  width: 1000px;
  height: 75px;
  left: 175px;
  top: 100px;
  background: #FAAF6B;
}

.avatar img {
  width: 100px;
  border-radius: 50%;
}


.nav-pills {

}
.nav-link {
  color:rgb(32, 29, 29)
}

.petsbutton {
  color:rgb(32, 29, 29)
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: rgb(187, 127, 127);
}

.btn-outline-success {
  border-color: rgb(187, 127, 127);
  color: rgb(187, 127, 127);
  font-weight: bold !important;
}

.btn-outline-success:hover {
  border-color: rgb(187, 127, 127);
  background-color: rgb(187, 127, 127);
  color: rgb(245, 245, 245);
}
