.body{
  position: absolute;
  width: 1000px;
  height: 450px;
  left: 175px;
  top: 100px;
  background: #FADACB;
}

.barra{
  position: absolute;
  width: 1000px;
  height: 75px;
  left: 175px;
  top: 100px;
  background: #FAAF6B;
}

.avatar img {
  width: 100px;
  border-radius: 50%;
}
.nombre-perrito{
  font-size: 65px;
  color: tomato ;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 1.5px black;
}
.texto-side{
  font-size: 18px;
  font-weight: bolder;
}

.container-side{
  border-radius: 21px;
  background: #ebeaea;
  box-shadow:  5px 5px 10px #dfdddd,
               -5px -5px 10px #cfcccc;
}
.nav-pills {

}
.nav-link {
  color:rgb(32, 29, 29)
}

.petsbutton {
  color:rgb(32, 29, 29)
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: rgb(187, 127, 127);
}

.btn-outline-success {
  border-color: rgb(187, 127, 127);
  color: black;
  font-weight: bold !important;
}

.btn-outline-success:hover {
  border-color: rgb(187, 127, 127);
  background-color: rgb(187, 127, 127);
  color: rgb(245, 245, 245);
}
.card-index{
  border-radius: 8px;
  box-shadow:  5px 5px 5px #d9d5d5,
             -0px -0px 0px #ffffff;
}

// border-radius: 113px;
// background: linear-gradient(145deg, #dedede, #ffffff);
// box-shadow:  35px 35px 70px #e8e8e8,
//              -35px -35px 70px #ffffff;
